sphinx-intl
ablog
myst-nb
sphinx-thebe
sphinx-copybutton
sphinx-comments
plotly
pandas
matplotlib
sphinx-inline-tabs
sphinx-panels
sphinx-book-theme>=0.1.7
Sphinx>=4.3
sphinxcontrib-bibtex
sphinx_theme
epiweeks